@use "./assets/styles/colors" as *;

html, body { height: 100%; }
html, body, h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
.gravizot-dark {
  color: $purple900;
}
.gravizot-light {
  color: $gray50;
}