@use "../../../assets/styles/colors" as *;

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $blue700;
  background-color: $white;
  padding: 70px 100px;
  width: 100vw;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 750px;
    margin-top: 30px;

    .control-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;      
      width: 100%;

      input, textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid $gray300;
        border-radius: 4px;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        box-sizing: border-box;
        color: $blue700;
      }
      input:focus, textarea:focus {
        border-color: $blue200;
      }
      input::placeholder,
      textarea::placeholder {
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        color: $purple900;
        opacity: 1;
      }
      input.ng-invalid.ng-touched,
      input.ng-invalid.ng-dirty,
      textarea.ng-invalid.ng-touched,
      textarea.ng-invalid.ng-dirty {
        border: 1px solid $red500;
        background-color: $red50;
      }
      input.ng-invalid.ng-touched::placeholder,
      input.ng-invalid.ng-dirty::placeholder,
      textarea.ng-invalid.ng-touched::placeholder,
      textarea.ng-invalid.ng-dirty::placeholder {
        color: $red900;
      }
      textarea {
        line-height: 1.5;
        outline: none;
        min-height: 140px;
        resize: vertical; /* only vertical resizing allowed */
      }
      .group-error {
        color: $red600;
        font-size: 12px;
        margin-left: 10px;
      }
      .help { display: block; margin-top: 6px; color: $gray600; }
    }
    .action-container {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 20px;
    }
  }
}

@media (max-width: 1100px) {
  .section-container {
    h1 {
      font-size: 22px;
    }
  }
}

@media (max-width: 900px) {
  .section-container {
    form {
      width: 650px;
    }
  }
}

@media (max-width: 750px) {
  .section-container {
    form {
      width: 550px;
    }
  }
}

@media (max-width: 600px) {
  .section-container {
    form {
      width: 450px;
    }
  }
}

@media (max-width: 500px) {
  .section-container {
    form {
      width: 375px;
    }
  }
}

@media (max-width: 425px) {
  .section-container {
    form {
      width: 325px;
    }
  }
}

@media (max-width: 350px) {
  .section-container {
    form {
      width: 300px;
    }
  }
}